
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body{
    background-color: gold;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 500px;
    height: 500px;
    background-color: white;
    border: 2px solid black;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    position: relative;
    overflow: hidden;

    padding-bottom:100px ;
}
.display_color{
    width: 100%;
    height: 120px;
    background-color: red;
    margin:  0 auto;
    border-radius: 10px;
}
.pointer{
    cursor: pointer;
    border: 1px solid red;
    transition: all linear 0.3s;
    color: red;
}
.pointer:hover{
    background-color: red;
    color: white;
}
.checkbox_label{
    font-size: 14px;
    font-weight: bold;
    
}
.form-control{
    padding-left: 30px;
}
.hex_input::before{
    content: '#';
    position: absolute;
    top: 50%;
    left: 3px;
    padding: 0px 4px;
    border-right: 1px solid rgba(0, 0, 0, 0.256);
    font-weight: bold;
}

.p_s{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}


.toast_message{
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 5px 10px;
    background-color: black;
    text-align: center;
    cursor: pointer;
    color: white;
    letter-spacing: 2px;
    font-size: 14px;
    border-radius: 5px;

    

}
.rang_input input[type="range"]{
  width: 100%;
  background-color: red;
}
   

.toast_message_slide_in{
    animation: in 0.3s ease-in-out;
}
.toast_message_slide_out{
    animation: out 0.3s ease-in-out;
}

@keyframes in {
    from{
        transform: translateX(200px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes out {
    from{
        transform: translateX(0px);
        opacity: 1;
    }
    to{
        transform: translateX(200px);
        opacity: 0;
    }
}

.progress_bar{
    width: 100%;

}

/* Styles for the thumb (the draggable part of the range input) */
input[type="range"]::-moz-range-thumb {
    --webkit-appearance: none; /* Override default styling */
    appearance: none;
    width: 20px; /* Width of the thumb */
    height: 20px; /* Height of the thumb */
    background: #fff; /* White thumb */
    border: 3px solid navy; /* Blue border for the thumb */
    border-radius: 50%; /* Round thumb */
    cursor: pointer; /* Change cursor to pointer */
}

/* Firefox */
input[type="range"]::-moz-range-progress {
    padding: 5px 0px;
    background: linear-gradient(35deg,red,green,blue); 
    
    border-radius: 10px; 
    cursor: pointer; 
}

/* Styling for the track in Firefox */
input[type="range"]::-moz-range-track {
    background: #ddd; /* Default track color */
}

